@import "normalize.sass"
html, body
	background: #D7D7D7

#container
	width: 100%
	height: 100%
	background-color: gray
	display: flex
	justify-content: center
	align-items: center
	.box
		padding: 25px 40px 
		background-color: black
		color: white
		margin: 2% .25em
		border-radius: 20px
		font-weight: bolder
		font-family: Verdana
